[submodule "myPython"]
	path = myPython
	url = https://gitlab.aiacademy.tw/aiacademy/courses.git
[submodule "共筆/ai-academy"]
	path = 共筆/ai-academy
	url = https://git.gitbook.com/allenyllee/ai-academy.git
